.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 1.5rem;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
    padding-bottom: calc(1rem + 64px);
  }
}

